﻿:root {
    --colorBase: #5AC0EB;
    --colorBaseTonoOscuro1: #3d84a1;
    --colorBaseTonoClaro1: #a4d9ef;
    --fuente: "Helvetica";
}

/*----TEST */
.inspeccion_azul {
    border: 2px solid blue;
}

.inspeccion_verde {
    border: 2px solid green;
}

.inspeccion_rojo {
    border: 2px solid red;
}
/*---------------*/

/*----ETIQUETAS GENERALES*/
*{
    font-family: "Helvetica" !important;
}
body{
    background-color:white;
}
/*-------------------------*/

/*----CLASES DEFINIDAS*/
.backgroundColorTema{ background-color:var(--colorBase); }

/* [TITULO DASHBOARD] */
.tituloDash { margin-top: 20px;}
.tituloDash > p { color:var(--colorBase); font-size:2.2em; font-weight:bold; margin:0 !important; padding-left:20px; }
.container-fluid{ background-color:white; }
nav.navbar {  border-bottom:2px solid var(--colorBase) !important; z-index:10;}

/* [NOMBRE USUARIO PARTE SUPERIOR DERECHA] */
.nombreUsuario::after {
    content: "Nombres Usuario";
    color: var(--colorBase);
    position: absolute;
    margin-top: 20px;
    margin-left: -160px;
    font-size: 1.5em;
}

/* [TABLAS] */
table thead { background-color: var(--colorBase); color:white; }
#tablaPresidenteRepublica_filter, #tablaDiputadosFederales_filter, #tablaSenadores_filter{
    text-align: right;
}
.scrollTabla{
    overflow:auto;
}
.scrollTabla div.row { margin-bottom:10px; }
.scrollTabla::-webkit-scrollbar{ background-color:rgba(0,0,0,0); height:5px; }
.scrollTabla::-webkit-scrollbar-button { }
.scrollTabla::-webkit-scrollbar-thumb { background-color:var(--colorBase); border-radius:20px; }
.scrollTabla::-webkit-scrollbar-track { background-color:rgba(0,0,0,.2); border-radius:20px; }
.scrollTabla::-webkit-scrollbar-track-piece {}
.scrollTabla ul.pagination li.active a { background-color:var(--colorBase)!important; border:1px solid var(--colorBaseTonoOscuro1); }

/* [PESTAÑAS] */
ul.nav li.active a { border-bottom:2px solid var(--colorBase) !important; }
ul.nav li a:hover { color:var(--colorBase) !important; }
.iconoAvatar { 
    position:absolute;
    background-image:url("../Iconos_png/usuarios_small.png"); 
    background-size:100% 100%;
    width:15px; height:20px; 
    display:inline-block; 
}
.textoIcono { margin-left:20px; display:inline-block; margin-top:3px; }

/* [MENÚ] */
.left-sidebar-content { padding-top:0 !important; }
.be-left-sidebar ul.sidebar-elements li.active{ background-color:var(--colorBase); }
.be-left-sidebar ul.sidebar-elements li.active a span{ color:white!important; }
.be-left-sidebar ul.sidebar-elements li a span { margin-left:10px; font-family: var(--fuente); font-weight:bold; }
.be-left-sidebar ul.sidebar-elements li a::before { content:"" !important; }
.be-left-sidebar ul.sidebar-elements li:hover a { background-color:var(--colorBaseTonoClaro1) !important; }

/* [FOTO USUARIO DASHBOARD] */
.dropdown:after { 
    content:"NOMBRE USUARIO";
    position:absolute; 
    margin-top:-35px; margin-left:-130px; 
    font-family: var(--fuente); 
    color:var(--colorBase); 
    font-weight:bold; 
}
/*--------------------*/
