
body {background-color: #5AC0EB;}
.panel-default>.panel-heading {background-color: #7ab752;}
div{background-color: #5AC0EB;	}
.panel {border: initial; }
.btn-primary {background-color: #fff;height: 37px;}
.btn-primary-boton:hover{color:#5AC0EB !important;}
.btn-link {color: #fff;text-decoration: none;}
.btn-link:hover {color: #5AC0EB;text-decoration: none;}
label{color:#fff;}
button{width:530px; height:30px;}
.form-login .control-label{text-align: left;}
.btn-primary-boton{color: #13c3f0;background-color: #fff;height: 37px}
.btn-primary-boton:hover{color:#fff;border-color: #7ab752;}